@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
h2{
  font-size: 4vw;
}
.homepagelinks{
  background: rgb(1, 14, 9);
  font-size: 1.9vw;
  padding: 19px;
  display: inline-block;
  border-radius: 26px;
  position: relative;
}
body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}
 
p{
  font-family: "Fredoka One";
  font-size: 3vw;
  color: white;
}
br{
  height: 1vh;
  background-image: white;
}
.gamepagebody{
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  margin-top: 0px;
}
.uname{
  font-family: "Fredoka One";
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #292929;
  padding: 9px 13px;
  border-radius: 19px
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.area{
    background: #4e54c8;  
    width: 100%;
    height:100vh;
    bottom: 0;
    top:0;
    position: fixed;
   
}
.areagames{
    background: #4e54c8;  
    width: 100%;
    height: 100vh;
    bottom: 0;
    top:0;
    position: fixed;
   
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 30s linear infinite;
    bottom: 110%;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 50s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 40s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.inlinebtn{
  display: inline;
}
titlename{
  font-family: "Fredoka One";
  font-size: 8vw;
  color: rgb(16, 0, 137);
  text-shadow: 8px 8px #5022b9c0;
  text-align: center;
  z-index:3;
}
h1{
  font-family: "Fredoka One";
  font-size: 8vw;
  color: rgb(16, 0, 37);
  text-shadow: 6px 6px #5022b9c0;
  text-align: center;
  z-index:3;
}
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 3vw;
}
h6{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 2.3vw;
}
button{
  font-size: 3vw;
  font-family: "Fredoka One";
  color: rgb(3, 22, 44);
  border-radius: 1.63vw;
  border-width: 0.6vw;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  background-color:   #5d63da;
  border-style: outset;
  border-color: #6a23db;
  overflow: hidden;
  box-shadow: 6px 6px #472790c0;
  transition: all 0.1s ease-in-out;
}
.button:hover {
    background-color: #757cf5;
    transform: scale(0.95);
    cursor: pointer;
}
.button:active {
  transform: scale(1.0);
  background-color: #757cf5;
  overflow:visible;
  box-shadow: 5px 5px #472790c0;
}
div{
  text-align: center;
  font-family: "Fredoka One";
  text-decoration: none;
  position: relative;
  overflow:visible
}
a:link{
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
a:hover{
  text-decoration: underline;
}
.list{
  font-size: 3vw
}
.mainbackbutton{
  text-align: center;
  font-family: "Fredoka One";
  text-decoration: none;
  font-size: 1.3vw
}
.aboutbutton{
  text-align: left;
  position: absolute;
  left: 1.6%;
  bottom: 3%;
}
.statusbutton{
  bottom: 3%;
  position: absolute;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.youtubelink{
  font-size: 3vw;
  text-decoration: underline;
}
.gamelinksleft{
  font-size: 1.3vw;
  text-decoration: none;
  background-color: rgba(5, 29, 165, 0.700);
  float: left;
  left: 9vw;
  border-radius: 19px;
  width: 19vw;
}
.gamelinksright{
  font-size: 1.3vw;
  text-decoration: none;
  background-color: rgb(5, 29, 165, 0.700);
  float: right;
  right: 9vw;
  border-radius: 19px;
  width: 19vw;
}
iframe{
  display: block;
  margin: 50px auto;
}
.gamesbackbutton{
  float: left;
  font-family: "Fredoka One";
  font-size: 1.0vw;
  text-decoration: none;
  display: inline-block;
}
.gamelinksbackbutton{
  margin-left: 0;
  font-family: "Fredoka One";
  text-decoration: none;
  font-size: 1.3vw;
  background-color: #4e54c8; 
}
.gamelinksother{
  text-align: left;
  font-family: "Fredoka One";
  text-decoration: none;
  font-size: 1.3vw;
  background-color: #4e54c8; 
}
.gamesheader{
  display: table;
  background-color:#4e54c8;
}
.gamesenjoy{
  font-size: 2.3vw;
  text-align: center;
  color: white;
  display: table-cell;
}
.gameofthemonth{
  font-size: 1.2vw;
  color: white;
  text-align: center;
  bottom: 0;
  position: relative;
}
.gameofthemonthborder{
  background-color: rgb(5, 29, 165, 0.700);
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  width: 26vw;
  position: relative;
}
.monthlygame{
  font-size: 2.3vw;
  text-align: center;
}
.gamespurple{
  font-size: 1.3vw;
  text-align: center;
  color: mediumpurple;
}
.newgamestitle{
  font-size: 2.6vw;
  color: white;
  text-align: center;
  font-family: "Fredoka One"
  
}
.newgames{
  font-size: 1.35vw;
  text-decoration: none;
  background-color: rgb(5, 29, 165, 0.700);
  text-align: center;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  width: 19vw;
}
.head{
  margin: 0;
}
a:link{
  color: paleturquoise;
}
a:visited{
  color: mediumpurple;
}
#site-header {
  border-bottom: none;
}
.loadedclickalt{
  color: green;
}
.result {
  font-weight: 500;
  font-size: 18px;
  color: blueviolet;
}
.fullScreen {
  width: 100vw;
  height: 100vh;
}
.otherstuff{
  font-size: 3vw;
}
.gamespageheader{
  display: none;
}
#appsbutton {
  animation: border-color-change 5s infinite;
}
@keyframes border-color-change {
  0% { border-color: green; }
  50% { border-color: blue; }
  100% { border-color: green; }
}
.poll {
  width: 100px;
  height: 100px;
  color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}
